loguru
pandas
numpy
plotly
streamlit
streamlit-echarts
st-annotated-text

pinecone[grpc]
pinecone-client
pinecone-text

kiwipiepy

# seaborn
# streamlit-plotly-events

langchain
python-dotenv==1.0.1
langchain-community==0.3.2
pymupdf
langchain_openai

yfinance
meilisearch
tabulate